<%- include ("./partials/header")%>
<div class="registration-form">
    <form action="/authenticate/signup" method="post">
        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        <% if (typeof valid !== 'undefined') { %>
        <p class="valid-text"><%= valid %></p>
        <% } %>
        <div class="form-group">
            <input type="text" class="form-control item" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control item" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="number" class="form-control item" name="age" placeholder="Age">
        </div>
        <input type="radio" name="gender" value="Male"> Male
        <input type="radio" name="gender" value="Female"> Female
        <input type="radio" name="gender" value="Other"> Other
        <div class="form-group">
            <button type="submit" class="btn btn-block create-account">Create Account</button>
        </div>
    </form>
</div>

<%- include ("./partials/footer") %>