body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(120deg, #2E8B57, #6B8E23);
    min-height: 100vh;
}

div {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px green;
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

.text {
    text-align: left;
    margin-left: 150px;
}

#weight,
#height {
    color: #222f3e;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #341f97;
    width: 200px;
}

#weight:focus,
#height:focus {
    border-bottom: 2px solid #341f97;
    width: 300px;
    transition: 0.5s;
}

#result {
    color: #341f97;
}

#calculate-btn {
    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-image: linear-gradient(120deg, #2E8B57, #6B8E23);
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

#btn:hover {
    box-shadow: 1px 1px 10px green;
}

#enter-details-info {
    font-size: 12px;
    font-family: inherit;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.green-text {
    color: green;
}